<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'bootstrap_cdn.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMR Calculator</title>
    {% block styles %}{% endblock %}
    <style>
        body {
            background-color: #EEF2E6; /* New color for the body */
            color: #333333; /* Dark text color for better contrast */
        }
    </style>
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>



